li:hover{
    transform: scale(1.2);
}

li{
    cursor: pointer;
    transition: .4s ease;
}

li::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: .4s ease;
}

li:hover::before{
    width: 100%;
}